{% load static %}
{% load bootstrap4 %}
<div class="container certificate">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-card-five">
            <div class="widget-content">
    <h1 class="display-4">Certificado de Conclusão</h1>
    <p class="lead">Este certificado é concedido a</p>
    <p class="font-weight-bold h2">Jean Felipe Alves da Silva</p>
    <p class="lead">por ter concluído com êxito o curso</p>
    <p class="font-weight-bold h2">Curso Teste do Teste</p>
    <div class="details">
        <p>Data de Conclusão: 05/05/1984</p>
        <p>Instituição: Pandora ddddd</p>
    </div>
    <div class="signature">
        <div>Assinatura do Instrutor</div>
        <div>Assinatura do Aluno</div>
    </div>
    </div>
    </div>
    </div>
</div>