{% load static %}
{% load bootstrap4 %}
{% if request.resolver_match.url_name == 'internaDashCursosInternos' or request.resolver_match.url_name == 'internaDashCursosExternos' %}
<div class="row">
    {% for dado in dados %}
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mx-auto">
        <div class="card">
            {% if dado.imagem.url %}
            <img src="{{ dado.imagem.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title mb-3">{{dado.curso}}</h5>
                <p class="card-text">{{dado.resumo}}</p>
                <a href="{% url 'internaCursoAbrir' dado.id %}" class="btn btn-secondary mt-3">Abrir</a>
                <a href="{% url 'download_apostila' dado.id %}" class="btn btn-success mt-3">Apostila</a>
            </div>
        </div>  
    </div>
    {% endfor %}
    {% if 'ALUNO' in responsabilidades %}
    {% for dado in cursos %}
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mx-auto">
        <div class="card">
            {% if dado.imagem.url %}
            <img src="{{ dado.imagem.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title mb-3">{{dado.curso}}</h5>
                <p class="card-text">{{dado.resumo}}</p>
                <a href="{% url 'checkout' dado.id %}" class="btn btn-info mt-3">Comprar</a>
            </div>
        </div>  
    </div>
    {% endfor %}
    {% endif %}
</div>
{% elif request.resolver_match.url_name == 'internaListarCursosMatricula' %}
<div class="row">
    {% for dado in dados %}
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mx-auto">
        <div class="card">
            <img src="{{ dado.imagem.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3">{{dado.curso}}</h5>
                <p class="card-text">{{dado.resumo}}</p>
                <a href="{% url 'internaListarAlunosMatricula' dado.id %}" class="btn btn-secondary mt-3">Matricular Alunos</a>
            </div>
        </div>  
    </div>
    {% endfor %}
</div>
{% elif request.resolver_match.url_name == 'internaCursoAbrir' %}
<div class="row">     
    {% for dado in dados %}
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mx-auto">
        <div class="card">
            <div class="card-header">
              {{dado.capitulo}}
            </div>
            <div class="card-body">
                <p class="card-text">{{dado.objetivo}}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    {% if not "ALUNO" in responsabilidades %}
                    <div class="col-6">
                        <a href="{% url 'internaAlterarCapitulo' dado.id %}" class="btn btn-warning w-100">Alterar</a>
                    </div>
                    {% endif %}
                    <div class="col-6">
                        <a href="{% url 'internaCapituloAbrir' dado.id %}" class="btn btn-secondary w-100">Abrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}    
</div>
{% elif request.resolver_match.url_name == 'internaCapituloAbrir' %}
<div id="toggleAccordion" class="accordion">
    {% for dado in dados %}
    <div class="card">
      <div class="card-header" id="{{dado.id}}">
        <section class="mb-0 mt-0">
          <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#default_{{dado.id}}" aria-expanded="false" aria-controls="default_{{dado.id}}">
            {{dado.aula}}  <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
          </div>
        </section>
      </div>

      <div id="default_{{dado.id}}" class="collapse" aria-labelledby="{{dado.id}}" data-bs-parent="#toggleAccordion">
        <div class="card-body" style="overflow: auto;">
                <p style="white-space: pre-wrap;">{{dado.objetivo}}</p>
              <a href="{% url 'internaAlterarAula' dado.id %}" class="btn btn-warning mt-4">Alterar</a>
              <a href="{% url 'internaAulaAbrir' dado.id %}" class="btn btn-primary mt-4">Abrir</a>
              {% if dado.id in frequencias %}
              <button class="btn btn-success mt-4">Aula Concluída</button>
              {% else %}
              <a href="{% url 'internaCadastrarFrequenciaAula' dado.id %}"  class="btn btn-dark mt-4">Marcar como Concluído</a>
              {% endif %}
              <a href="{% url 'internaListarQuestoesAula' dado.id %}" class="btn btn-light-secondary mt-4">Prova de Conhecimentos</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
{% elif request.resolver_match.url_name == 'internaAulaAbrir' %}
<div id="toggleAccordion" class="accordion">
{% for dado in dados %}
<div class="card">
    <div class="card-header" id="{{dado.id}}">
    <section class="mb-0 mt-0">
        <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#default_{{dado.id}}" aria-expanded="false" aria-controls="default_{{dado.id}}">
        {{dado.tema}}  <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
        </div>
    </section>
    </div>

    <div id="default_{{dado.id}}" class="collapse" aria-labelledby="{{dado.id}}" data-bs-parent="#toggleAccordion">
    <div class="card-body" >
            <p style="white-space: pre-wrap;">{{dado.texto}}</p>
            {% for videoAula in videoAulas %}
              {% if videoAula.tema.id == dado.id %}
                  <div class="container-fluid mt-5">
                      <div class="row">
                          <div class="col-12 mx-auto">
                              <p>{{ videoAula.videoAula }}</p>
                              <div id="video-container">
                                {% if videoAula.video_arquivo %}
                                    <video id="my-video" class="video-js" controls preload="auto">
                                      <source src="{{ videoAula.video_arquivo.url }}" type="video/mp4">
                                      Seu navegador não suporta o elemento de vídeo.
                                  </video>
                                {% endif %}
                                {% comment %}
                                  <div class="video-wrapper">
                                      {% if videoAula.idYouTube %}
                                          <iframe src="https://www.youtube.com/embed/{{ videoAula.idYouTube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                      {% elif videoAula.linkVimeo %}
                                          <iframe src="{{ videoAula.linkVimeo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                      {% endif %}
                                  </div>{% endcomment %}
                              </div>
                          </div>
                      </div>
                  </div>
              {% endif %}
          {% endfor %}

    </div>
    </div>
</div>
{% endfor %}
</div>
{% endif %}