{% load static %}
{% load bootstrap4 %}
<div class="row">
    {% for dado in dados %}

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mx-auto">
    
        <div class="card">
            <img src="{% static 'src/assets/img/lightbox-3.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3">{{dado.curso}}</h5>
                <p class="card-text">{{dado.resumo}}</p>
                <a href="#" class="btn btn-secondary mt-3">Abrir</a>
            </div>
        </div>
        
    </div>
    {% endfor %}
</div>