{% load static %}
{% load bootstrap4 %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">{{title}}</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <div class="text-right mt-3">
                            <button type="submit" class="btn btn-primary">
                                Cadastrar
                            </button>
                            <a href="#" class="btn btn-secondary mt-2 mt-md-0" onclick="limparFormulario(event)">Limpar</a>
                        </div>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if request.resolver_match.url_name == 'internaCadastroInterno' or request.resolver_match.url_name == 'internaAlterarUsuario' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
        'id_nome',
        'id_email',
        'id_responsabilidades',
        // Adicione mais campos conforme necessário, usando os IDs dos campos do seu formulário
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
<!-- <script>
    $(document).ready(function () {
        $('#id_bloco').select2({
            placeholder: 'Selecione um Bloco',
            allowClear: true
        });
    });
</script> -->
{% elif request.resolver_match.url_name == 'internaCadastrarEmpresas' or request.resolver_match.url_name == 'internaAlterarEmpresa' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
        'id_razaoSocial',
        'id_nomeFantasia',
        'id_cnpj',
        'id_endereco',
        'id_cidade',
        'id_bairro',
        'id_estado',
        'id_cep',
        'id_dataFundacao',
        'id_telefone',
        'id_email',
        'id_responsavel',
        'id_contato',
        'id_logo',
        // Adicione mais campos conforme necessário, usando os IDs dos campos do seu formulário
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarTipoCurso' or request.resolver_match.url_name == 'internaAlterarTipoCurso' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
        'id_descricao',
        'id_empresa',
        // Adicione mais campos conforme necessário, usando os IDs dos campos do seu formulário
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarCurso' or request.resolver_match.url_name == 'internaAlterarCurso' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_curso',
    'id_valor',
    'id_externo',
    'id_ativo',
    'id_tipoCurso',
    'id_resumo',
    'id_imagem',
    'id_empresa',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarCapitulo' or request.resolver_match.url_name == 'internaAlterarCapitulo' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_capitulo',
    'id_objetivo',
    'id_curso',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarAula' or request.resolver_match.url_name == 'internaAlterarAula' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_aula',
    'id_objetivo',
    'id_capitulo',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarApostila' or request.resolver_match.url_name == 'internaAlterarApostila' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_apostila',
    'id_arquivo',
    'id_curso',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarTema' or request.resolver_match.url_name == 'internaAlterarTema' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_tema',
    'id_texto',
    'id_aula',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarQuestao' or request.resolver_match.url_name == 'internaAlterarQuestao' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_pergunta',
    'id_resposta1',
    'id_resposta2',
    'id_resposta3',
    'id_resposta4',
    'id_resposta5',
    'id_certoErrado',
    'id_aula',
    'id_apostila',
    'id_imagem',
    'id_resposta_correta',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarVideoAula' or request.resolver_match.url_name == 'internaAlterarVideoAula' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_videoAula',
    'id_aula',
    'id_linkVimeo',
    'id_idYouTube',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastrarTurma' or request.resolver_match.url_name == 'internaAlterarTurma' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_turma',
    'id_empresa',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% elif request.resolver_match.url_name == 'internaCadastroAluno' or request.resolver_match.url_name == 'internaCadastroProfessor' or request.resolver_match.url_name == 'internaAlterarProfessor' or request.resolver_match.url_name == 'internaAlterarAluno' %}
<script>
    function limparFormulario(event) {
    event.preventDefault();

    const campos = [
    'id_email',
    'id_nome',
    'id_empresa',
    'id_responsabilidades',
    'id_turmas',
    ];

    campos.forEach(campo => {
        document.getElementById(campo).value = "";
    });
}
</script>
{% endif %}
