{% load static %}
{% load bootstrap4 %}
{% if request.resolver_match.url_name == 'internaListarUsuarios' %}
<div class="row layout-spacing">
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Nome</th>
                            <th>E-mail</th>
                            <th>Empresa</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.nome}}
                            </td>
                            <td>{{dado.email}}</td>
                            <td>{{dado.empresa}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarUsuario' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarEmpresas' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>CNPJ</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.nomeFantasia}}
                            </td>
                            <td>{{dado.cnpj}}</td>
                            <td>{{dado.cidade}}</td>
                            <td>{{dado.estado}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarEmpresa' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarTurmas' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Turma</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.empresa}}
                            </td>
                            <td>{{dado.turma}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarTurma' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarProfessores' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Professor</th>
                            <th>E-mail</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.empresa}}
                            </td>
                            <td>{{dado.nome}}</td>
                            <td>{{dado.email}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarProfessor' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarAlunos' or request.resolver_match.url_name == 'internaVerBoletim' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Nome</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.empresa}}
                            </td>
                            <td>{{dado.nome}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarAluno' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <li><a href="{% url 'internaVerBoletim' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Boletim" data-original-title="Ver Boletim"><span class="badge badge-light-secondary mb-2 me-4">Ver Boletim</span></a></li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarTiposCurso' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Descrição</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.empresa}}
                            </td>
                            <td>{{dado.descricao}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarTipoCurso' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarCursos' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Curso</th>
                            <th>Ativo / Inativo</th>
                            <th>Interno / Externo</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.empresa}}
                            </td>
                            <td>{{dado.curso}}</td>
                            {% if dado.ativo %}
                            <td class="text-center"><span class="shadow-none badge badge-success">Ativo</span></td>
                            {% else %}
                            <td class="text-center"><span class="shadow-none badge badge-danger">Inativo</span></td>
                            {% endif %}
                            {% if dado.externo %}
                            <td class="text-center"><span class="shadow-none badge badge-primary">Externo</span></td>
                            {% else %}
                            <td class="text-center"><span class="shadow-none badge badge-warning">Interno</span></td>
                            {% endif %}
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarCurso' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarCapitulos' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Curso</th>
                            <th>Capítulo</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.curso.empresa}}
                            </td>
                            <td>{{dado.curso}}</td>
                            <td>{{dado.capitulo}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarCapitulo' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarAulas' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Capítulo</th>
                            <th>Aula</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.capitulo.curso.empresa}}
                            </td>
                            <td>{{dado.capitulo}}</td>
                            <td>{{dado.aula}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarAula' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarTemas' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Aula</th>
                            <th>Tema</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.aula.capitulo.curso.empresa}}
                            </td>
                            <td>{{dado.aula}}</td>
                            <td>{{dado.tema}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarTema' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarApostilas' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Curso</th>
                            <th>Apostila</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.curso.empresa}}
                            </td>
                            <td>{{dado.curso}}</td>
                            <td>{{dado.apostila}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarApostila' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarQuestoes' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Curso</th>
                            <th>Aula</th>
                            <th>Pergunta</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.aula.capitulo.curso.empresa}}
                            </td>
                            <td>{{dado.aula.capitulo.curso}}</td>
                            <td>{{dado.aula}}</td>
                            <td style="overflow-wrap: break-word; white-space: normal;">{{dado.pergunta}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarQuestao' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarVideoAulas' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Empresa</th>
                            <th>Dados</th>
                            <th>Video Aula</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.tema.aula.capitulo.curso.empresa}}
                            </td>
                            <td>{{dado.tema}}</td>
                            <td>{{dado.videoAula}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'internaAlterarVideoAula' dado.id %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" data-original-title="Editar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <!-- <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li> -->
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarBoletim' %}
<div class="row layout-spacing">
    {% for curso in dados %}
    <h2 class="text-secondary">{{ curso.curso }}</h2>
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Capítulos</th>
                            <th>Aulas</th>
                            <th>Notas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for capitulo in curso.capitulos %}
                            {% for aula in capitulo.aulas %}
                                <tr>
                                    <td class="text-center">
                                        {{capitulo.capitulo}}
                                    </td>
                                    <td>{{aula.aula}}</td>
                                    <td>{{ aula.notas.0.valor }}</td>                                   
                                </tr>
                        {% endfor %}
                    {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% elif request.resolver_match.url_name == 'internaListarAlunosMatricula' %}
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Código Id </th>
                            <th class="text-center">Aluno</th>
                            <th>E-mail</th>
                            <th class="text-center dt-no-sorting">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.id}}</td>
                            <td class="text-center">
                                {{dado.nome}}
                            </td>
                            <td>{{dado.email}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    {% if dado.id in matriculas %}
                                    <li><a href="{% url 'internaMatricular' curso.id dado.id 'cancelar' %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Matriculado" data-original-title="Matriculado"><span class="badge badge-light-danger mb-2 me-4">Matriculado</span></a></li>
                                    {% else %}
                                    <li><a href="{% url 'internaMatricular' curso.id dado.id 'matricular' %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Matricular" data-original-title="Matricular"><span class="badge badge-light-success mb-2 me-4">Matricular</span></a></li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'internaListarComissoesMesCorrente' or request.resolver_match.url_name == 'internaListarComissoesMesSelecao' %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-card-five">
        <div class="widget-content">
            <div class="account-box">
                <div class="info-box">
                    <div class="icon">
                        <span>
                            <img src="{% static 'src/assets/img/money-bag.png' %}" alt="apartamentos">
                        </span>
                    </div>
                    <div class="row justify-content-end">
                    <div class="col-12 balance-info">
                        <h6 class="mt-2">Receita Mês Atual</h6>
                        <p>R$ {{soma_receita}}</p>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'internaListarComissoesAno' %}" class="btn btn-outline-primary">Dash Comissões</a>
                        <a href="{% url 'internaListarAlunos' %}" class="btn btn-outline-primary">Ver Alunos</a>
                        <a href="{% url 'internaListarCursos' %}" class="btn btn-outline-primary">Ver cursos</a>
                    </div>
                </div>
                </div>
                {% comment %}<div class="card-bottom-section">
                    <!-- <div><span class="badge badge-light-success">+ 13.6% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg></span></div> -->
                    <a href="{% url 'internaListarComissoesMesCorrente' %}" class="">Ver</a>
                </div>{% endcomment %}
            </div>
        </div>
    </div>
</div>
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Empresa </th>
                            <th class="text-center">Aluno</th>
                            <th class="text-center">Curso</th>
                            <th class="text-center dt-no-sorting">Data do Pagamento</th>
                            <th class="text-center dt-no-sorting">Receita</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.empresa}}</td>
                            <td class="text-center">
                                {{dado.usuario.nome}}
                            </td>
                            <td>{{dado.curso.curso}}</td>
                            <td>{{dado.data_pagamento}}</td>
                            <td>R$ {{dado.receita_matriz}}</td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif request.resolver_match.url_name == 'visualizarMatriculas'%}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-card-five">
        <div class="widget-content">
            <div class="account-box">
                <div class="info-box">
                    <div class="icon">
                        <span>
                            <img src="{% static 'src/assets/img/money-bag.png' %}" alt="">
                        </span>
                    </div>
                    <div class="row justify-content-end">
                    <div class="col-12 balance-info">
                        <h6 class="mt-2">Total de Cursos Matriculados</h6>
                        <p>{{total_matriculas}}</p>
                    </div>
                </div>
                </div>
                {% comment %}<div class="card-bottom-section">
                    <!-- <div><span class="badge badge-light-success">+ 13.6% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg></span></div> -->
                    <a href="{% url 'internaListarComissoesMesCorrente' %}" class="">Ver</a>
                </div>{% endcomment %}
            </div>
        </div>
    </div>
</div>
<div class="row layout-spacing">
    
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-3" class="table style-3 dt-table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column text-center"> Curso </th>
                            <th class="text-center">Carga Horária</th>
                            <th class="text-center">Total de Aulas</th>
                            <th class="text-center dt-no-sorting">Aulas Assistidas</th>
                            <th class="text-center dt-no-sorting">Nota Final</th>
                            <th class="text-center dt-no-sorting">Certificado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in cursos_total %}
                        <tr>
                            <td class="checkbox-column text-center">{{dado.0}}</td>
                            <td class="text-center">
                                {{dado.1}}
                            </td>
                            <td class="text-center">{{dado.2}}</td>
                            <td class="text-center">{{dado.3}}</td>
                            <td class="text-center">{{dado.4}}</td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="{% url 'emitirCertificado' dado.5 %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Gerar" data-original-title="Gerar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline></svg></a></li>
                                    <li><a href="{% url 'visualizarCertificado' dado.5 %}" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Donwload" data-original-title="Donwload"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg></a></li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endif %}


<!-- <tr>
                            <td class="checkbox-column text-center"> 2 </td>
                            <td class="text-center">
                                <span><img src="../src/assets/img/profile-19.jpeg" class="profile-img" alt="avatar"></span>
                            </td>
                            <td>Andy</td>
                            <td>King</td>
                            <td>andyking@gmail.com</td>
                            <td>555-555-6666</td>
                            <td class="text-center"><span class="shadow-none badge badge-warning">Suspended</span></td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column text-center"> 3 </td>
                            <td class="text-center">
                                <span><img src="../src/assets/img/profile-20.jpeg" class="profile-img" alt="avatar"></span>
                            </td>
                            <td>Alma</td>
                            <td>Clarke</td>
                            <td>Alma@live.com</td>
                            <td>777-555-5555</td>
                            <td class="text-center"><span class="shadow-none badge badge-danger">Closed</span></td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column text-center"> 4 </td>
                            <td class="text-center">
                                <span><img src="../src/assets/img/profile-21.jpeg" class="profile-img" alt="avatar"></span>
                            </td>
                            <td>Vincent</td>
                            <td>Carpenter</td>
                            <td>vinnyc@outlook.com</td>
                            <td>555-666-5555</td>
                            <td class="text-center"><span class="shadow-none badge badge-primary">Approved</span></td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column text-center"> 5 </td>
                            <td class="text-center">
                                <span><img src="../src/assets/img/profile-22.jpeg" class="profile-img" alt="avatar"></span>
                            </td>
                            <td>Kristen</td>
                            <td>Beck</td>
                            <td>kristen@adobe.com</td>
                            <td>444-444-4444</td>
                            <td class="text-center"><span class="shadow-none badge badge-warning">Suspended</span></td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column text-center"> 6 </td>
                            <td class="text-center">
                                <span><img src="../src/assets/img/profile-23.jpeg" class="profile-img" alt="avatar"></span>
                            </td>
                            <td>Oscar</td>
                            <td>Garner</td>
                            <td>oscar@gmail.com</td>
                            <td>111-111-1111</td>
                            <td class="text-center"><span class="shadow-none badge badge-danger">Closed</span></td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column text-center"> 7 </td>
                            <td class="text-center">
                                <span><img src="../src/assets/img/profile-24.jpeg" class="profile-img" alt="avatar"></span>
                            </td>
                            <td>Nia</td>
                            <td>Hillyer</td>
                            <td>niaHill@yahoo.com</td>
                            <td>111-666-1111</td>
                            <td class="text-center"><span class="shadow-none badge badge-primary">Approved</span></td>
                            <td class="text-center">
                                <ul class="table-controls">
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-8 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                    <li><a href="javascript:void(0);" class="bs-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-8 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                                </ul>
                            </td>
                        </tr> -->