{% load static %}
<!--  BEGIN SIDEBAR  -->
{% if 'GESTORGERAL' in responsabilidades or 'COLABORADORSEDE' in responsabilidades %}
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">

        <div class="navbar-nav theme-brand flex-row  text-center">
            <div class="nav-logo">
                <div class="nav-item theme-logo">
                    <a href="{% url 'internaTableauGeral' %}" style="display: flex; justify-content: center;">
                        <img src="{% static 'assets/img/logo.png' %}" style=" width: 100%; height: auto; max-width: 130px;"  alt="logo">
                    </a>
                </div>
                <div class="nav-item theme-text">
                    <a href="./index.html" class="nav-link"> Site </a>
                </div>
            </div>
            <div class="nav-item sidebar-toggle">
                <div class="btn-toggle sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                </div>
            </div>
        </div>
        <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu active">
                <a href="#cadastro" data-bs-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                    <div class="active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                        <span>Cadastro</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="cadastro" data-bs-parent="#accordionExample">
                    <li>
                        <a href="{% url 'internaCadastrarEmpresas' %}"> Empresa </a>
                    </li>
                    <li class="sub-submenu dropend">
                        <a href="#cadastroUsuarios" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">Usuarios <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="cadastroUsuarios"> 
                            <li>
                                <a href="{% url 'internaCadastroInterno' %}"> Usuário </a>
                            </li>
                            <li>
                                <a href="{% url 'internaImportarUsuarios' %}"> Imp. Usuário </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropend">
                        <a href="#cadastroEscola" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">Escola <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="cadastroEscola"> 
                            <li>
                                <a href="{% url 'internaCadastrarTurma' %}"> Turma </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastroProfessor' %}"> Professor </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastroAluno' %}"> Aluno </a>
                            </li>
                            <li>
                                <a href="{% url 'internaInscreverAluno' %}"> Inscrever Aluno </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarCursosMatricula' %}"> Matricular Alunos </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropend">
                        <a href="#cadastroCursos" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">Cursos <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="cadastroCursos"> 
                            <li>
                                <a href="{% url 'internaCadastrarTipoCurso' %}"> Tipo Curso </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastrarCurso' %}"> Curso </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastrarCapitulo' %}"> Capítulo </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastrarAula' %}"> Aula </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastrarApostila' %}"> Apostila </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastrarTema' %}"> Tema </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastrarQuestao' %}"> Questão </a>
                            </li>
                            <li>
                                <a href="{% url 'internaCadastrarVideoAula' %}"> Vídeo Aula </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>APPLICATIONS</span></div>
            </li>
            <li class="menu">
                <a href="#consultas" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                        <span>Consultas</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="consultas" data-bs-parent="#accordionExample">
                    <li>
                        <a href="{% url 'internaListarEmpresas' %}"> Empresas </a>
                    </li>
                    <li>
                        <a href="{% url 'internaListarUsuarios' %}"> Usuários </a>
                    </li>
                    <li class="sub-submenu dropend">
                        <a href="#consultaEscola" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">Escola <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="consultaEscola"> 
                            <li>
                                <a href="{% url 'internaListarTurmas' %}"> Turma </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarProfessores' %}"> Professor </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarAlunos' %}"> Aluno </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropend">
                        <a href="#consultaCursos" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">Cursos <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="consultaCursos"> 
                            <li>
                                <a href="{% url 'internaListarTiposCurso' %}"> Tipo Curso </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarCursos' %}"> Curso </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarCapitulos' %}"> Capítulo </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarAulas' %}"> Aula </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarApostilas' %}"> Apostila </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarTemas' %}"> Tema </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarQuestoes' %}"> Questão </a>
                            </li>
                            <li>
                                <a href="{% url 'internaListarVideoAulas' %}"> Vídeo Aula </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>USER INTERFACE</span></div>
            </li>
            <li class="menu">
                <a href="#cursos" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mortarboard">
                            <path d="M22 12v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7"></path>
                            <path d="M17 21v-4l-5-2-5 2v4"></path>
                            <path d="M12 3L1 9l11 6 11-6-11-6z"></path>
                          </svg>
                          
                        <span>Cursos</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="cursos" data-bs-parent="#accordionExample">
                    <li>
                        <a href="{% url 'internaDashCursosInternos' %}"> Internos </a>
                    </li>
                    <li>
                        <a href="{% url 'internaDashCursosExternos' %}"> Externos </a>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <a href="#boletim" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                            <path d="M3 2v20h18V2H3zm6 8h8M9 12h8M9 16h6"></path>
                          </svg>
                          
                        <span>Boletim</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="boletim" data-bs-parent="#accordionExample">
                    <li>
                        <a href="{% url 'internaListarBoletim' %}"> Notas </a>
                    </li>
                    <li>
                        <a href="{% url 'internaListarBoletim' %}"> Matrículas </a>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <a href="#comissao" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                            <path d="M3 2v20h18V2H3zm6 8h8M9 12h8M9 16h6"></path>
                          </svg>
                          
                        <span>Comissões</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="boletim" data-bs-parent="#accordionExample">
                    <li>
                        <a href="{% url 'internaListarComissoesAno' %}"> Dash Comissões </a>
                    </li>
                </ul>
            </li>

            <!-- <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>USER INTERFACE</span></div>
            </li>

            <li class="menu">
                <a href="#protocolos" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                        <span>Protocolos</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="protocolos" data-bs-parent="#accordionExample">
                    <li>
                        <a href="#"> Abertura </a>
                    </li>
                    <li>
                        <a href="#"> Consulta  </a>
                    </li>
                </ul>
            </li>

            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>USER INTERFACE</span></div>
            </li>

            <li class="menu">
                <a href="#reservas" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                        <span>Reservas</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="reservas" data-bs-parent="#accordionExample">
                    <li>
                        <a href="#"> Calendário </a>
                    </li>
                </ul>
            </li>

            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>USER INTERFACE</span></div>
            </li>

            <li class="menu">
                <a href="#financas" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                        <span>Finanças</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="financas" data-bs-parent="#accordionExample">
                    <li>
                        <a href="#"> Boletos </a>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <a href="#financeiro" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                        <span>Financeiro</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled" id="financeiro" data-bs-parent="#accordionExample">
                    <li>
                        <a href="./element-alerts.html"> Mês atual </a>
                    </li>
                    <li>
                        <a href="./element-avatar.html"> Mês Anterior </a>
                    </li>
                    <li>
                        <a href="./element-badges.html"> Ano Corrente </a>
                    </li>
                </ul>
            </li> -->
        </ul>
        
    </nav>

</div>
{% endif %}
<!--  END SIDEBAR  -->